<script>

    var element = document.getElementById("HelloWorld");


    if (element) {
      element.innerHTML = "<h1>Hello from JavaScript</h1>";
    }


    setTimeout(() => {
    }, @Data.TimeSpan.TotalMilliseconds)

</script>
<p id="HelloWorld"></p>

@code {
  [Parameter]
    public required SimpleJsTimeoutReportData Data { get; set; }

}
