
<p id="HelloWorld"></p>


<script>

    var element = document.getElementById("HelloWorld");


    if (element) {
    element.innerHTML = "<h1>Hello from JavaScript</h1>";
    }


    setTimeout(() => {
    @if (Data.ShouldContainCompletedJsMethod)
    {
        //This is for testing purposes only.
        @("blazorReport.completed()")
    }

    }, @Data.TimeSpan.TotalMilliseconds)

</script>

@code {
  [Parameter]
    public required SimpleJsTimeoutReportData Data { get; set; }

}
