<!DOCTYPE html>
<html lang="en">
<head>
    <style>@((MarkupString)BaseStyles)</style>

</head>
<body>
    <DynamicComponent Type="@ChildComponentType" Parameters="@ChildComponentParameters" />

    @foreach (var script in Scripts)
    {
        <script>@script.Value</script>
    }


</body>
</html>


@code {
    /// <summary>
    /// The base styles to be applied to the component.
    /// </summary>
    [Parameter]
    public string BaseStyles { get; set; } = "";
    /// <summary>
    /// The type of the component to be rendered in the html body.
    /// </summary>
    [Parameter]
    public Type ChildComponentType { get; set; } = null!;
    /// <summary>
    /// The parameters to be passed to the child component.
    /// </summary>
    [Parameter]
    public IDictionary<string, object> ChildComponentParameters { get; set; } = null!;

    /// <summary>
    /// The scripts to be included in the html body.
    /// </summary>
    [Parameter]
    public Dictionary<string, string> Scripts { get; set; } = new Dictionary<string, string>();
}
