<!DOCTYPE html>
<html lang="en">
<head>
  <style>@BaseStyles;</style>
</head>
<body>
<DynamicComponent Type="@ChildComponentType" Parameters="@ChildComponentParameters" />
</body>
</html>


@code {
  /// <summary>
  /// The base styles to be applied to the component.
  /// </summary>
  [Parameter]
  public string BaseStyles { get; set; } = "";
  /// <summary>
  /// The type of the component to be rendered in the html body.
  /// </summary>
  [Parameter]
  public Type ChildComponentType { get; set; } = null!;
  /// <summary>
  /// The parameters to be passed to the child component.
  /// </summary>
  [Parameter]
  public IDictionary<string, object> ChildComponentParameters { get; set; } = null!;

}
